<h3>
  <%= link_to l(:label_watched_issues),
        issues_path(:set_filter => 1,:status_id=>'*', :watcher_id => 'me', :sort => 'id:desc') %>
  
</h3>

<% watched_issues = issueswatched_items %>
<%= render :partial => 'issues/list_simple', :locals => { :issues => watched_issues.to_a } %>
