<% custom_field_values = @issue.editable_custom_field_values %>
<div class="splitcontent">
<div class="splitcontentleft">
<% i = 0 %>
<% split_on = (custom_field_values.size / 2.0).ceil - 1 %>
<% custom_field_values.each do |value| %>
<p>
	<%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %>
	<!-- #fjaneta1 -->
	<!-- Tendra que ser 0 el valor de i para que haga refencia a la cedula -->
	<%if(i==0) %>
	<button style="left:170px"  onclick="callWebService();return false;" >Buscar</button>
	<table>
		<tr>
			<td width="450px"></td>
			<td><div id="cliente_res"></div></td>
		</tr>
	</table>
	<%end%>
	<!-- #fjaneta1 -->
</p>

<% if i == split_on -%>
</div>
<div class="splitcontentright">
<% end -%>
<% i += 1 -%>
<% end -%>
</div>
</div>
