<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'erasers', :plugin => :redmine_erasers %>
<% end %>

<% if User.current.logged? %>
<script>
$(function() {
  //ensure eraser status div is at the bottom of the fieldset
  $("#eraser-status").appendTo($("#eraser-status").closest("fieldset"))
  //observe changed on the form
  $("#issue-form").observe(08, function() {
    $.ajax({
      url: "<%= autosave_erasers_path(:issue_id => @issue.id) %>",
      dataType: "script",
      type: "PUT",
      data: $(this).serialize(),
      global: false //no 'loading...' tooltip
    })
  })
})
</script>
<% end %>

<div id="eraser-status" style="display:none;"></div>

<% if User.current.logged? && @issue.new_record? && params[:issue].nil? && @project.present? %>
  <% eraser = Eraser.find_for_issue(:element_id => 0, :user_id => User.current) %>
  <% if eraser %>
    <div id="eraser-pending">
      <%= render :partial => 'erasers/pending', :locals => { :eraser => eraser } %>
    </div>
  <% end %>
<% end %>
