<%= title @escojida_la_entida %>
<div class="issue">
  <table class="attributes">
    <%= issue_fields_rows do |rows| %>
      <% rows.left ::ESCOJIDALaEntida.human_attribute_name(:name), format_object(@escojida_la_entida.name) %>
    <% end %>
    <%= call_hook(:view_escojida_la_entidas_show_details_bottom, :escojida_la_entida => @escojida_la_entida) %>
  </table>
</div>
<% ### PAGE CUSTOMS ########################################################## %>
<% content_for :sidebar do %>
  <%= render :partial => 'escojida_la_entidas/sidebar' %>
<% end %>